BasedOnStyle: WebKit
ColumnLimit: 80
AlignTrailingComments:  true
AlignAfterOpenBracket: true
AlignConsecutiveAssignments: true
AllowShortFunctionsOnASingleLine: true
FixNamespaceComments: true
IndentWidth: 4
TabWidth: 4
UseTab: ForIndentation
