*.dat
*.exe
*.dll
*.idb
*.id0
*.id1
*.id2
*.nam
*.til
*.o
*.out
*.elf
*.dol
*.a
*.d
*.map
*.exe
*.dump
*.7z
*.bat
*.sln
*.filters
*.vcxproj
*.user
*.ctx
include/*.s

build/
tools/mwcc_compiler/
tools/powerpc/
!aoi.exe
decomp/
errors.txt
output.asm
Debug/
.vs/
.vscode/*.log

ctx.c
out-ok.txt
out.txt
.DS_Store
sheet.py
sheet.csv
sheet.tsv
*.lnk
*.log
build.ninja
__pycache__
.ninja_deps
.ninja_log
newlines.py
objdiff.json

.idea
.ninja_*
.mypy_cache

orig/*/*
!orig/*/.gitkeep
/*.txt
