*.dat
*.exe
*.dll
*.idb
*.id0
*.id1
*.id2
*.nam
*.til
*.o
*.out
*.elf
*.dol
*.a
*.d
*.map
*.exe
*.dump
*.7z
*.bat
*.sln
*.filters
*.vcxproj
*.user
include/*.s

build/
tools/mwcc_compiler/*    
!tools/mwcc_compiler/.gitkeep
!aoi.exe
decomp/
errors.txt
output.asm
Debug/
.vs/
.vscode/*.log

ctx.c
out-ok.txt
out.txt
.DS_Store
sheet.py
sheet.csv
sheet.tsv