*.7z
*.a
*.bat
*.ctx
*.d
*.dat
*.dll
*.dol
*.dump
*.elf
*.exe
*.exe
*.filters
*.id0
*.id1
*.id2
*.idb
*.lnk
*.log
*.map
*.nam
*.o
*.out
*.sln
*.til
*.user
*.vcxproj
.DS_Store
.idea
.mypy_cache
.ninja_*
.ninja_deps
.ninja_log
.vs/
.vscode/*.log
/*.txt
Debug/
__pycache__
build.ninja
build/
ctx.c
decomp/
errors.txt
include/*.s
newlines.py
objdiff.json
orig/*/*
out-ok.txt
out.txt
output.asm
sheet.csv
sheet.py
sheet.tsv
tools/mwcc_compiler/
tools/powerpc/
compile_commands.json

!aoi.exe
!clang-format.exe
!orig/*/.gitkeep